<h1>Registrations for <%= link_to @event.name, @event %></h1>
<% @registrations.each do |registration| %>
  <ul class="registrations">
    <li><%= registration.name %> &bull; <%= registration.how_heard %></li>
  </ul>
<% end %>
